* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #000;
}

}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
input[type="submit"] {
	display: block;
	margin: 20px auto;
	width: 30%;
	padding: 2px 0;
	outline: 0 none;
	border: 2px solid #0F0;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
	background-color: #000;
	color: #0F0;
	font-family: 'dosis';
	font-weight: 500;
}

#project-beginner {
	width: 80%;
	margin: 150px 50px;
	position: absolute;
	z-index: 3;
}

.for-you {
	border-radius: 4px;
	border: 4px solid #0F0;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.for-you .above {
	width: 100%;
	background-color: #0F0;
	text-align: center;
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
}

input[type="text"] {
	outline: 0 none;
	background-color: #000;
	color: #FFFFFF;
	padding: 4px;
	border: 2px solid #0F0;
	border-top: 4px solid #0F0;
	width: 50%;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	transition: width 0.5s;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

input[type="password"] {
	outline: 0 none;
	border: 2px solid #0F0;
	border-top: 4px solid #0F0;
	background-color: #000;
	color: #FFFFFF;
	padding: 4px;
	display: block;
	margin: 0 auto;
	width: 50%;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	transition: width 0.5s;
}

input:focus {
	width: 96%;
}

.sumbit-button {
	display: block;
	margin: 20px auto;
	width: 50%;
	padding: 2px 0;
	outline: 0 none;
	border: 2px solid #0F0;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
	background-color: #000;
	color: #0F0;
	font-family: 'dosis';
	font-weight: 500;
}

.sumbit-button:hover {
	background-color: #0F0;
	color: #000;
	font-weight: 700;
}

h4 {
	color: #0F0;
	margin-top: 40px;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: normal;
}

h4 a {
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
	color: #0F0;
}

a {
	color: #0F0;
	text-align: center;
	text-decoration: none;
	font-family: 'arial';
}

label {
	color: #fff;
	font-family: 'Arial', sans-serif;
}

@media ( max-width : 480px) {
	.for-you {
		width: 70%;
		margin-left: 10px;
	}
}