.keywords .btn {
	width: 100%;
	margin: 4px;
}

#child-circle button {
	width: 40%;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}

#add-snippet button {
	width: 40%;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}