<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://highlightjs.org/static/code.css" />
<link rel="stylesheet" href="/css/style.css" />
<!-- jQuery UI -->
<link
	href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css"
	rel="stylesheet" media="screen" />

<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="vendors/fullcalendar/fullcalendar.css" rel="stylesheet"
	media="screen" />
<!-- styles -->
<link href="css/styles.css" rel="stylesheet" />

</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<!-- Logo -->
					<div class="logo">
						<h1>
							<a href="index.html">Libware_Profile</a>
						</h1>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group form">
								<input type="text" class="form-control" placeholder="Search..." />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">Search</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="navbar navbar-inverse" role="banner">
						<nav
							class="collapse navbar-collapse bs-navbar-collapse navbar-right"
							role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">My Account <b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="profile.html">Profile</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						<li class="current"><a href="index.html"><i
								class="glyphicon glyphicon-home"></i> Dashboard</a></li>

						<li><a href="add_snippet.html"><i
								class="glyphicon glyphicon-stats"></i> Add snippets</a></li>
						<li><a href="snippet.html"><i
								class="glyphicon glyphicon-stats"></i> My snippets</a></li>
						<li><a href="circle.html"><i
								class="glyphicon glyphicon-list"></i> Circles</a></li>
						<li><a href="calendar.html"><i
								class="glyphicon glyphicon-calendar"></i> Calendar</a></li>

						<li><a href="editor.html"><i
								class="glyphicon glyphicon-pencil"></i> Editor</a></li>

						<li class="submenu"><a href="#"> <i
								class="glyphicon glyphicon-list"></i>Search <span
								class="caret pull-right"></span>
						</a> <!-- Sub menu -->
							<ul>
								<li><a href="login.html">By technology</a></li>
								<li><a href="new_user.html">By section</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">

				<div class="content-box-large">
					<div class="panel-body">
						<div class="row">
							<div>
								<h1>Enter your code here</h1>

								<pre>
										<code></code>
									</pre>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<canvas id="c">
</canvas>
	<footer>
		<div class="container">

			<div class="copy text-center">
				Copyright 2017 <a href='#'>Libware_Website</a>
			</div>

		</div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>



	<script src="js/custom.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://highlightjs.org/static/highlight.pack.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/editor.js"></script>

</body>
</html>